<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body

<h1>Wellcome Online shope </h1>

<br>
<br>
<a href="/login">Logout</a> ||
<a href="/">home</a>



  </body>
</html>
