<!DOCTYPE html>
<html>
<head>
	<title>Home page</title>
	<link rel="stylesheet" type="text/css" href="abc/style.css">

</head>
<body>
	<h1 style="text-align:center; margin:50px;">Welcome online shope </h1>
  <h1 style="text-align:center; margin:50px;">  Yor user name: <%= username %>  </h1>

	<h1 style="text-align:center; margin:50px; ">

  <a href="/home/userlist"> View Users </a>|
	<a href="/user/create">Create User</a>|
	<a href="/logout">Logout</a>
</h1>

</body>
</html>
